.notes {
    height: 100vh;
    display: flex;
    flex-direction: column;
    .panel {
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap:0.8rem;
        height: 100%;
        .temp {
            background-color: blue;
        } 
    }
}