.dropDown {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    .dropDown-item {
        display: flex;
        align-items: center;
        padding: 8px;
        cursor: pointer;

        &:hover {
            background-color: #f4f9fc;
        }


        .dropDown-text {
            font-size: 16px;
            margin-left: 10px;
        }

        .theme {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }

    .separator {
        height: 1px;
        background-color: #a9a9a9;
        margin: 8px 0;
    }
}