.vertical_navbar {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .nav_item {
        display: flex;
        align-items: center;
        padding: 8px;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
            background-color: #e0e0e0;
        }
    }

    .nav_text {
        font-size: 16px;
        margin-left: 10px;
    }
}