.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    background-color: #a85799;
    cursor: pointer;
  }